(
    entities: [
        (x: 0.0, y: 200.0, kind: Text(sentence: "コース: 3-0")),
        (x: 50.0, y: 0.0, kind: Checkpoint(priority: 1)),
        (x: 100.0, y: 50.0, kind: Text(sentence: "回転速度+100")),
        (x: 100.0, y: 0.0, kind: TimeLimitedBuff(buff: (life_time: 72000.0, channel: SpinVelocity, buff_type: Add, value: Some(100.0)))),
        (x: 150.0, y: -50.0, kind: Text(sentence: "回転力+0.1")),
        (x: 150.0, y: 0.0, kind: TimeLimitedBuff(buff: (life_time: 72000.0, channel: SpinStiffness, buff_type: Add, value: Some(0.1)))),
        (x: -275.0, y: 0.0, kind: DeathCustom(width: 50.0, height: 550.0)),
        (x: 300.0, y: 300.0, kind: DeathCustom(width: 1200, height: 50.0)),
        (x: 400.0, y: -300.0, kind: DeathCustom(width: 1400, height: 50.0)),

        (x: 300.0, y: -100, kind: DeathCustom(width: 50.0, height: 300.0)),
        (x: 450.0, y: 100, kind: DeathCustom(width: 50.0, height: 300.0)),
        (x: 600.0, y: -100, kind: DeathCustom(width: 50.0, height: 300.0)),
        (x: 750.0, y: 100, kind: DeathCustom(width: 50.0, height: 300.0)),

        (x: 850.0, y: 0.0, kind: Checkpoint(priority: 2)),

        (x: 1075.0, y: 100.0, kind: DeathCustom(width: 50.0, height: 750.0)),
        (x: 100.0, y: 500.0, kind: DeathCustom(width: 2000, height: 50.0)),
        (x: -875.0, y: -200.0, kind: DeathCustom(width: 50.0, height: 1350.0)),

        (x: -400.0, y: 400.0, kind: Checkpoint(priority: 3)),

        (x: -825.0, y: 250.0, kind: Turret(interval: 0.5, rotation: 0.0, bullet_lifetime: Some(0.5))),
        (x: -350.0, y: 0.0, kind: Turret(interval: 0.5, rotation: 3.14, bullet_lifetime: Some(0.5))),
        (x: -825.0, y: -250.0, kind: Turret(interval: 0.5, rotation: 0.0, bullet_lifetime: Some(0.5))),

        (x: -400.0, y: -400.0, kind: Checkpoint(priority: 4)),

        (x: 400.0, y: -900.0, kind: DeathCustom(width: 2600, height: 50.0)),

        (x: -400.0, y: -450.0, kind: Dynamic(density_scale: Some(1.0), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: -400.0, y: -350.0, kind: Dynamic(density_scale: Some(1.0), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: -450.0, y: -400.0, kind: Dynamic(density_scale: Some(1.0), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: -350.0, y: -400.0, kind: Dynamic(density_scale: Some(1.0), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),

        (x: -400.0, y: -750.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: -400.0, y: -650.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: -450.0, y: -700.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: -350.0, y: -700.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),

        (x: -100.0, y: -750.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: -100.0, y: -650.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: -150.0, y: -700.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: -50.0, y: -700.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),

        (x: 100.0, y: -850.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 100.0, y: -750.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 50.0, y: -800.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 150.0, y: -800.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 100.0, y: -650.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 100.0, y: -550.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 50.0, y: -600.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 150.0, y: -600.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),

        (x: 300.0, y: -750.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 300.0, y: -650.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 350.0, y: -700.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 250.0, y: -700.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),

        (x: 500.0, y: -850.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 500.0, y: -750.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 550.0, y: -800.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 450.0, y: -800.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 500.0, y: -650.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 500.0, y: -550.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 550.0, y: -600.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),
        (x: 450.0, y: -600.0, kind: DynamicDeath(density_scale: Some(0.001), gravity_scale: Some(0.0), restitution_coefficient: Some(1.0))),

        (x: 750.0, y: -600.0, kind: Breakable(required_speed: 50.0)),
        (x: 750.0, y: -650.0, kind: Breakable(required_speed: 50.0)),
        (x: 750.0, y: -700.0, kind: Breakable(required_speed: 50.0)),
        (x: 750.0, y: -750.0, kind: Breakable(required_speed: 50.0)),
        (x: 750.0, y: -800.0, kind: Breakable(required_speed: 50.0)),
        (x: 750.0, y: -850.0, kind: Breakable(required_speed: 50.0)),
        (x: 750.0, y: -550.0, kind: Breakable(required_speed: 50.0)),
        (x: 750.0, y: -500.0, kind: Breakable(required_speed: 50.0)),
        (x: 750.0, y: -450.0, kind: Breakable(required_speed: 50.0)),
        (x: 750.0, y: -400.0, kind: Breakable(required_speed: 50.0)),
        (x: 750.0, y: -350.0, kind: Breakable(required_speed: 50.0)),

        (x: 1000.0, y: -400.0, kind: Checkpoint(priority: 5)),

        (x: 1675.0, y: -250.0, kind: DeathCustom(width: 50.0, height: 1250.0)),
        (x: 1400.0, y: 0.0, kind: DeathCustom(width: 800.0, height: 50.0, rotation: Some(0.785))),

        (x: 1900.0, y: 0.0, kind:DeathCustom(width: 50.0, height: 650.0)),
        (x: 2300.0, y: 300.0, kind:DeathCustom(width: 750.0, height: 50.0)),
        (x: 2300.0, y: -300.0, kind:DeathCustom(width: 750.0, height: 50.0)),
        (x: 2700.0, y: 0.0, kind:DeathCustom(width: 50.0, height: 650.0)),
        (x: 2300.0, y: 50.0, kind:DeathCustom(width: 50.0, height: 450.0)),
        (x: 2400.0, y: 50.0, kind: Death),
        (x: 2500.0, y: 50.0, kind: Death),

        (x: 1500.0, y: 0.0, kind: WarpHole(pair_x: 2100.0, pair_y: 0.0)),
        (x: 2150.0, y: 50.0, kind: Text(sentence: "重力-11")),
        (x: 2150.0, y: 0.0, kind: TimeLimitedBuff(buff: (life_time: 72000.0, channel: GravityScale, buff_type: Add, value: Some(-11.0)))),
        (x: 2200.0, y: 0.0, kind: Checkpoint(priority: 6)),

        (x: 2400.0, y: 250.0, kind: WarpHole(pair_x: 2900.0, pair_y: 0.0)),
        (x: 2950.0, y: 50.0, kind: Text(sentence: "重力+20")),
        (x: 2950.0, y: 0.0, kind: TimeLimitedBuff(buff: (life_time: 72000.0, channel: GravityScale, buff_type: Add, value: Some(20.0)))),
        (x: 3000.0, y: 0.0, kind: Checkpoint(priority: 7)),

        (x: 3100.0, y: 300.0, kind:DeathCustom(width: 750.0, height: 50.0)),
        (x: 3100.0, y: -300.0, kind:DeathCustom(width: 750.0, height: 50.0)),
        (x: 3500.0, y: 0.0, kind:DeathCustom(width: 50.0, height: 650.0)),
        (x: 3100.0, y: 50.0, kind:DeathCustom(width: 50.0, height: 450.0)),
        (x: 3200.0, y: 50.0, kind: Death),
        (x: 3300.0, y: 50.0, kind: Death),

        (x: 3200.0, y: 250.0, kind: WarpHole(pair_x: 3700.0, pair_y: 0.0)),
        (x: 3750.0, y: 50.0, kind: Text(sentence: "重力-9")),
        (x: 3750.0, y: 0.0, kind: TimeLimitedBuff(buff: (life_time: 72000.0, channel: GravityScale, buff_type: Add, value: Some(-9.0)))),
        (x: 3800.0, y: 0.0, kind: Checkpoint(priority: 8)),

        (x: 4400.0, y: 300.0, kind:DeathCustom(width: 1750.0, height: 50.0)),
        (x: 4400.0, y: -300.0, kind:DeathCustom(width: 1750.0, height: 50.0)),

        (x: 4000.0, y: 150.0, kind: DeathCustom(width: 50.0, height: 250.0)),
        (x: 4000.0, y: -150.0, kind: DeathCustom(width: 50.0, height: 250.0)),
        (x: 4200.0, y: 0.0, kind: DeathCustom(width: 50.0, height: 400.0)),
        (x: 4650.0, y: 0.0, kind:DeathCustom(width: 850.0, height: 50.0)),
        (x: 4500.0, y: 200.0,kind: Death),
        (x: 4650.0, y: 50.0,kind: Death),
        (x: 4800.0, y: 200.0,kind: Death),
        (x: 4950.0, y: 50.0,kind: Death),
        (x: 5100.0, y: 200.0,kind: Death),
        (x: 4500.0, y: -200.0,kind: Death),
        (x: 4650.0, y: -50.0,kind: Death),
        (x: 4800.0, y: -200.0,kind: Death),
        (x: 4950.0, y: -50.0,kind: Death),
        (x: 5100.0, y: -200.0,kind: Death),

        (x: 5300.0, y: 0.0, kind: Checkpoint(priority: 9)),

        (x: 6700.0, y: 300.0, kind:DeathCustom(width: 2850.0, height: 50.0)),
        (x: 6700.0, y: -300.0, kind:DeathCustom(width: 2850.0, height: 50.0)),
        (x: 6000.0, y: 50.0, kind: Text(sentence: "重力-1")),
        (x: 6000.0, y: 0.0, kind: TimeLimitedBuff(buff: (life_time: 72000.0, channel: GravityScale, buff_type: Add, value: Some(-1.0)))),
        (x: 6050.0, y: 0.0, kind: SpeedUp(rate: 10.0)),

        (x: 6700.0, y: 150.0, kind:DeathCustom(width: 1450.0, height: 150.0)),
        (x: 6700.0, y: -150.0, kind:DeathCustom(width: 1450.0, height: 150.0)),

        (x: 7800.0, y: 0.0, kind: Dynamic(width: Some(100.0), height: Some(150.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 8000.0, y: 0.0, kind: Breakable(required_speed: 450.0)),
        (x: 8000.0, y: 50.0, kind: Breakable(required_speed: 450.0)),
        (x: 8000.0, y: -50.0, kind: Breakable(required_speed: 450.0)),
        (x: 8000.0, y: 150, kind: Ground(width: 50.0, height: 150.0)),
        (x: 8000.0, y: -150, kind: Ground(width: 50.0, height: 150.0)),

        (x: 8150.0, y: 0.0, kind: Checkpoint(priority: 10)),
        (x: 8200.0, y: 50.0, kind: Text(sentence: "重力+1")),
        (x: 8200.0, y: 0.0, kind: TimeLimitedBuff(buff: (life_time: 72000.0, channel: GravityScale, buff_type: Add, value: Some(1.0)))),

        (x: 8600.0, y: 300.0, kind: DeathCustom(width: 950.0, height: 50.0)),
        (x: 8600.0, y: -300.0, kind: DeathCustom(width: 950.0, height: 50.0)),
        (x: 8300.0, y: 0.0, kind: Dynamic(width: Some(100.0), height: Some(150.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 8300.0, y: 150.0, kind: Dynamic(width: Some(100.0), height: Some(150.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 8300.0, y: -150.0, kind: Dynamic(width: Some(100.0), height: Some(150.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 8500.0, y: 0.0, kind: DynamicDeath(width: Some(100.0), height: Some(150.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 8500.0, y: 150.0, kind: DynamicDeath(width: Some(100.0), height: Some(150.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 8500.0, y: -150.0, kind: DynamicDeath(width: Some(100.0), height: Some(150.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 8700.0, y: 0.0, kind: Dynamic(width: Some(100.0), height: Some(150.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 8700.0, y: 150.0, kind: Dynamic(width: Some(100.0), height: Some(150.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 8700.0, y: -150.0, kind: Dynamic(width: Some(100.0), height: Some(150.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 8900.0, y: 0.0, kind: DynamicDeath(width: Some(100.0), height: Some(150.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 8900.0, y: 150.0, kind: DynamicDeath(width: Some(100.0), height: Some(150.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 8900.0, y: -150.0, kind: DynamicDeath(width: Some(100.0), height: Some(150.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),


        (x: 9000.0, y: 0.0, kind: WarpHole(pair_x: 0.0, pair_y: 2000.0)),
        (x: 9100.0, y: 0.0, kind: DeathCustom(width: 50.0, height: 650.0)),

        (x: 0.0, y: 1550.0, kind: Ground(width: 1050.0, height: 50.0)),
        (x: 0.0, y: 2550.0, kind: Ground(width: 1050.0, height: 50.0)),
        (x: 500.0, y: 2050.0, kind: Ground(width: 50.0, height: 950.0)),
        (x: -500.0, y: 2050.0, kind: Ground(width: 50.0, height: 950.0)),
        (x: 0.0, y: 2500.0, kind: WarpHole(pair_x: 0.0, pair_y: 2700.0)),
        (x: 0.0, y: 2400.0, kind: Checkpoint(priority: 11)),
        (x: 0.0, y: 1750.0, kind: Text(sentence: "回転速度-100")),
        (x: 0.0, y: 1800.0, kind: Text(sentence: "回転力-0.1")),
        (x: 0.0, y: 1700.0, kind: TimeLimitedBuff(buff: (life_time: 72000.0, channel: SpinVelocity, buff_type: Add, value: Some(-100.0)))),
        (x: 0.0, y: 1750.0, kind: TimeLimitedBuff(buff: (life_time: 72000.0, channel: SpinStiffness, buff_type: Add, value: Some(-0.1)))),

        (x: 0.0, y: 2600.0, kind: DeathCustom(width: 1050.0, height: 50.0)),

        (x: 500.0, y: 5650.0, kind: DeathCustom(width: 50.0, height: 6050.0)),
        (x: -500.0, y: 5650.0, kind: DeathCustom(width: 50.0, height: 6050.0)),

        (x: 225.0, y: 3000.0, kind: DeathCustom(width: 500.0, height: 50.0)),
        (x: -225.0, y: 3100.0, kind: DeathCustom(width: 500.0, height: 50.0)),

        (x: -225.0, y: 3300.0, kind: DeathCustom(width: 500.0, height: 50.0)),
        (x: 225.0, y: 3400.0, kind: DeathCustom(width: 500.0, height: 50.0)),

        (x: 0.0, y: 3500.0, kind: Checkpoint(priority: 12)),

        (x: -200.0, y: 4100.0, kind: DeathCustom(width: 550.0, height: 50.0)),
        (x: 200.0, y: 3800.0, kind: DeathCustom(width: 550.0, height: 50.0)),
        (x: 50.0, y: 4000.0, kind: DeathCustom(width: 50.0, height: 150.0)),
        (x: -50.0, y: 3900.0, kind: DeathCustom(width: 50.0, height: 150.0)),

        (x: 0.0, y: 4300.0, kind: Checkpoint(priority: 13)),

        (x: 0.0, y: 4500.0, kind: WarpHole(pair_x: 0.0, pair_y: 4950.0)),
        (x: 0.0, y: 4700.0, kind: DeathCustom(width: 950.0, height: 50.0)),
        (x: 50.0, y: 4850.0, kind: DeathCustom(width: 50.0, height: 250.0)),
        (x: -50.0, y: 4850.0, kind: DeathCustom(width: 50.0, height: 250.0)),
        (x: 0.0, y: 4750.0, kind: WarpHole(pair_x: -200.0, pair_y: 5250.0)),
        (x: 0.0, y: 5000.0, kind: DeathCustom(width: 950.0, height: 50.0)),
        (x: -150.0, y: 5150.0, kind: DeathCustom(width: 50.0, height: 250.0)),
        (x: -250.0, y: 5150.0, kind: DeathCustom(width: 50.0, height: 250.0)),
        (x: -200.0, y: 5050.0, kind: WarpHole(pair_x: 200.0, pair_y: 5550.0)),
        (x: 0.0, y: 5300.0, kind: DeathCustom(width: 950.0, height: 50.0)),

        (x: 0.0, y: 5400.0, kind: Checkpoint(priority: 14)),

        (x: 0.0, y: 5600.0, kind: DeathCustom(width: 950.0, height: 50.0)),
        (x: -200.0, y: 5350.0, kind: WarpHole(pair_x: 0.0, pair_y: 5750.0)),

        (x: -450.0, y: 5900.0, kind:Turret(interval: 4.0, rotation: 0.0, bullet_lifetime: Some(0.7))),
        (x: 450.0, y: 6000.0, kind:Turret(interval: 4.1, rotation: 3.1415, bullet_lifetime: Some(0.7))),
        (x: -450.0, y: 6100.0, kind:Turret(interval: 4.3, rotation: 0.0, bullet_lifetime: Some(0.7))),
        (x: 450.0, y: 6200.0, kind:Turret(interval: 4.2, rotation: 3.1415, bullet_lifetime: Some(0.7))),

        (x: 0.0, y: 6000.0, kind:DynamicDeath(width: Some(100.0), height: Some(100.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 0.0, y: 6100.0, kind:DynamicDeath(width: Some(100.0), height: Some(100.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 0.0, y: 6200.0, kind:DynamicDeath(width: Some(100.0), height: Some(100.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 0.0, y: 6300.0, kind:DynamicDeath(width: Some(100.0), height: Some(100.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),
        (x: 0.0, y: 6400.0, kind:DynamicDeath(width: Some(100.0), height: Some(100.0), gravity_scale: Some(0.0), density_scale: Some(0.01), restitution_coefficient: Some(1.0))),


        (x: 0.0, y: 6800.0, kind: DeathCustom(width: 950.0, height: 50.0)),
        (x: 0.0, y: 6700.0, kind: WarpHole(pair_x: 0.0, pair_y: 7000.0)),
        (x: 0.0, y: 7770.0, kind: Goal),

    ]
)
